#vue-table{
  h4{
    margin-bottom: 20px;
  }
  .table{
    margin-top: 20px;
    .multiply{
      background-color: #28a745;
    }
    .box{
      cursor: pointer;
      user-select: none;
      font-size: 19px;
      font-weight: 700;
      text-align: center;
      height: 55px;
    }
    .odd{
      background-color: #007bff;
      &:hover{
        background-color: lighten(#007bff, 20%);
      }
    }
    .even{
      background-color: #dc3545;
      &:hover{
        background-color: lighten(#dc3545, 20%);
      }
    }
  }
}
