#vue-table h4{margin-bottom:20px}#vue-table .table{margin-top:20px}#vue-table .table .multiply{background-color:#28a745}#vue-table .table .box{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:19px;font-weight:700;text-align:center;height:55px}#vue-table .table .odd{background-color:#007bff}#vue-table .table .odd:hover{background-color:#66b0ff}#vue-table .table .even{background-color:#dc3545}#vue-table .table .even:hover{background-color:#eb8c95}
