<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <title>Таблица умножения</title>
</head>
<body>
<div id="vue-table" class="container">
    <h1 class="text-center">Таблица умножения</h1>
    <h4 class="text-center text-secondary">Максимум 10X10</h4>
    <div class="row">
        <div class="xs-12 col-sm-4 text-center">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Рядов</span>
                </div>
                <input  v-model.number="rowsCount" type="number" max="10" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="xs-12 col-sm-4 text-center">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Колонок</span>
                </div>
                <input  v-model.number="columnCount" type="number" max="10" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="xs-12 col-sm-4 text-center">
            <button type="button" class="btn btn-primary col-12"  v-on:click="createTable()">Построить</button>
        </div>
    </div>

    <table  class="table table-bordered">
        <tr v-for="(row, index) in rows" :key="row.id" class='month-row'>
            <td v-for="(box, index) in row" :key="box.id" :class="`box ${box.class}`"  v-on:click="if ('speechSynthesis' in window) window.speechSynthesis.speak(new SpeechSynthesisUtterance(box.content))">
                {{box.content}}
            </td>
        </tr>
    </table>
</div>
<script src="js/vue/vue.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
